<!DOCTYPE html>
<html lang="en">
  <head th:replace="~{fragments.html::head}"> </head>
  <body>
    <div th:replace="~{fragments.html :: topbar}"></div>
    <div th:replace="~{fragments.html :: navbar}"></div>
    <div th:replace="~{fragments.html :: pageHeader}"></div>

    <!-- Bills Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-10 table-responsive mb-5"  id="main-content">

                <div th:if="${ orderList == null} or  ${#lists.size(orderList) == 0}">
                    <h2>Bạn chưa có hóa đơn nào</h2>
                </div>

                <table class="table table-bordered text-center mb-0" th:if="${#lists.size(orderList) != 0}">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>ID</th>
                            <th>Receiver</th>
                            <th>Products</th>
                            <th>Total</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr th:each="order : ${orderList}">
                            <td class="align-middle" th:text="${order.id}"></td>
                            <td class="align-middle" >
                                <p th:text="${'Name: ' + order.receiverName}"></p>
                                <p th:text="${'Mobile: ' + order.receiverMobile}"></p>
                            </td>
                            <td class="align-middle" th:text="${#lists.size(order.orderItemList) + ' products'}"></td>
                            <td class="align-middle" th:text="${'$' + order.totalPrice}"></td>
                            <td class="align-middle"><button class="btn btn-sm btn-primary" th:onclick="'orderDetail('+ ${order.id} +')'">View</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </div>
    <!-- Bills End -->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="/mail/jqBootstrapValidation.min.js"></script>
    <script src="/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
    <script src="/js/myApp.js"></script>
  </body>
</html>
